body{
    background-color: #5d5c85;
    color: white;
    font-family: "Prompt", sans-serif;
    margin: 1.5em;
    padding: 1rem;
}

h1{
    display: block;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    font-size: 24px;
}

.containerInput{
    display: block;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

input{ 
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 25px;
    background-color:  #e0daed;;
    text-align: center;

}
input:hover{
    background-color: #a9a4b4;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove o estilo padrão */
    margin: 0; /* Remove margem padrão */
}

.containerSelect{
   text-align: center;
   justify-content: center;
}

.localInfo{
  margin: 2rem;
    text-align: center;
    font-size: 17px;
}

select, button{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 30px;
    text-align: center;
    font-family: "Prompt" , sans-serif;
    font-size: 14px;
    background-color:  #e0daed;

}

option{
    background-color: #e0daed;
}

option:hover{
    background-color: #a9a4b4; ;
}

button:hover{
    background-color: #a9a4b4;
}
